@model Category

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Kategori Güncelle - @Model?.Name</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" asp-action="Update" enctype="multipart/form-data">

                        <div class="text-danger" asp-validation-summary="All"> </div>

                        <input type="hidden" asp-for="CategoryId" />
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control">
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>