@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="row">
    <div class="col-md-12">
        <!-- Carousel Section -->
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Carousel Item 1 -->
                <div class="carousel-item active">
                    <img src="~/Images/test.jpg" class="d-block w-100" alt="Haber 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Haber Başlığı 1</h5>
                        <p>İlk haberin kısa açıklaması burada yer alır.</p>
                    </div>
                </div>
                <!-- Carousel Item 2 -->
                <div class="carousel-item">
                    <img src="~/Images/test.jpg" class="d-block w-100" alt="Haber 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Haber Başlığı 2</h5>
                        <p>İkinci haberin kısa açıklaması burada yer alır.</p>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 my-5">
        @await Component.InvokeAsync("Showcase")
    </div>
    <div class="col-md-3">

    </div>
</div>


