<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <a asp-area="Admin" asp-controller="News" asp-action="Index">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@await Component.InvokeAsync("NewsSummary")</h3>
                    <p>Haberler</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <div class="small-box-footer">Daha fazla <i class="fas fa-arrow-circle-right"></i></div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <a asp-area="Admin" asp-controller="User" asp-action="Index">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@await Component.InvokeAsync("UserSummary")</h3>
                    <p>Kullanıcı Kayıtları</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <div class="small-box-footer">Daha fazla <i class="fas fa-arrow-circle-right"></i></div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
        <!-- TO DO List -->
        <!-- /TO DO List -->
    </section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->
