@model IEnumerable<NewsDtoForGet>

<h5 class="">Haberler</h5>
<hr class="border border-danger border-2 opacity-70">

<div class="row ms-1">

    @foreach (NewsDtoForGet newsItem in Model)
    {
        <partial name="_NewsCard" model="newsItem" />
    }

</div>