@model News

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img class="img-fluid shadow rounded-3 p-5 my-3"
                 src="@Model?.ImageUrl"
                 alt="@Model?.Title"
                 style="width: 70%; height: auto;">
            <h6 class="display-6 my-3">@Model?.Title</h6>
        </div>
        <p>
            @Html.Raw(Model?.Content)
        </p>
    </div>
</div>


